body {
    font-family: 'Arial', sans-serif;
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #aaf;
}

#about p {
    text-align: center;
    padding: 0 20%;
}

section {
    padding: 40px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;

}

h2 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.work-item {
    margin-bottom: 20px;
    flex: 1;
    box-sizing: border-box;
}

.work-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.work-item p {
    margin: 0;
}

p {
    margin-bottom: 15px;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 30%;
    height: 100%;

}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
}

button {
    background-color: #918e8e;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

/* Responsive Styles */
@media (min-width: 576px) {
    section {
        padding: 40px;

    }

    .work-item {
        flex: 1;
        margin-right: 10px;

    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.5em;

    }
}

@media (min-width: 992px) {
    .work-item {
        margin-right: 20px;

    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2em;

    }
}